* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99c2ff;
    font-family: sans-serif;
}


.conteiner {
    max-width: 90%;
}

.login__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
}


.login__form__right {
    padding: 2rem;
}
.login__form__right h1{
    margin-bottom: 2rem;
}

.login__form__right form input,
.login__form__right form button {
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid #cdd9ea;
    padding: 0.6rem;
    border-radius: 5px;
    outline: none;
    }

    .login__form__right form input:focus {
        border: 2px solid blue;
        box-shadow: 0 0 0px 2px yellowgreen;
    }

.login__form__right form label {
    color: #708fbe;
    font-size: 0.8rem;
}
    

    .login__form__right form button {
        background-color: green;
        border: none;
        color: #fff;
        font-size: 1rem;
        margin-top: 1rem;
        padding: 0.7rem;
        cursor: pointer;
        transition: background .2 ease;
    }

    .login__form__right form button:hover {
       background-color: darkgreen;
    }

@media screen and (min-width:769px) {
    body {
        background-color: red;
    }
}